---
import Header from "../../components/Header.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";
import StaffCard from "../../components/StaffCard.astro";
import InstructorCard from "../../components/InstructorCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const headerData = {
  title: "Our Team",
  headerImage: "/src/assets/alto-flight-academy-team-at-sundance-airport.jpg",
  headerAlt: "Cessna flying over Sundance Airport",
};
import EmailCTA from "../../components/EmailCTA.astro";
import teamInstructors from "../../data/teamInstructors";
import teamStaff from "../../data/teamStaff";
import team from "../../data/team";
import GetInContact from "../../components/GetInContact.astro";
import GoogleMaps from "../../components/GoogleMaps.astro";
---

<BaseLayout
  siteTitle="Our Team | Alto Flight Academy"
  siteDescription="Alto Flight Academy has been in business for 30 years.  Meet our team and our instructors.  We're dedicated to your success and helping you reach your aviation goals.  Talk to an Alto Flight Academy team member today!"
>
  <Header slot="header" data={headerData} />

  <section id="alto-team" class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="text-5xl text-dark-blue font-bold leading-tight mb-5">
        Alto Flight Academy Leadership
      </h2>
      <div class="grid gap-5 lg:grid-cols-3 mt-5">
        {
          team.map((member) => (
            <TeamMemberCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
    </div>
  </section>
  <section id="alto-team" class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="text-5xl text-dark-blue font-bold leading-tight mb-5">
        Alto Flight Academy Staff
      </h2>
      <div class="grid gap-5 lg:grid-cols-3 mt-5">
        {
          teamStaff.map((member) => (
            <StaffCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
    </div>
  </section>
  <section id="alto-team" class="py-24 px-5">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <h2 class="text-5xl text-dark-blue font-bold leading-tight mb-5">
        Alto Flight Academy Flight Instructors
      </h2>
      <div class="grid gap-5 lg:grid-cols-3 mt-5">
        {
          teamInstructors.map((member) => (
            <InstructorCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
    </div>
  </section>

  <EmailCTA />
  <GetInContact />
  <GoogleMaps />
</BaseLayout>
