---
import Header from "../../components/Header.astro";
import TeamMemberCard from "../../components/TeamMemberCard.astro";
import team from "../../data/team";
import BaseLayout from "../../layouts/BaseLayout.astro";
const headerData = {
  title: "We are Alto Flight Academy",
  headerImage: "/src/assets/alto-community.jpg",
  headerAlt: "Alto Flight Academy Community",
};
import Memberships from "../../components/Memberships.astro";
import ThirtyYears from "../../components/ThirtyYears.astro";
import EmailCTA from "../../components/EmailCTA.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import PilotImage from "../../assets/alto-flight-academy-leadership-team.jpg";
import Signature from "../../assets/signature.webp";
import { ImQuotesLeft } from "react-icons/im";
import { ImAirplane } from "react-icons/im";
import { GrVirtualMachine } from "react-icons/gr";
import { FaClipboardUser } from "react-icons/fa6";
import { MdVerifiedUser } from "react-icons/md";
import Post1 from "../../assets/post1.jpg";
import Post5 from "../../assets/post5.jpg";
import reviews from "../../data/reviews";
import WallOfGrads from "../../components/WallOfGrads.astro";
---

<BaseLayout
  siteTitle="About Us | Alto Flight Academy"
  siteDescription="Alto Flight Academy in Oklahoma City, Oklahoma, is a female and Asian owned business. Alto is a professional, full-service flight academy providing training to everyone from students and pilots to airline transport pilots. Make your lifelong dream come true with our affordable, practical, and exciting classes."
>
  <Header slot="header" data={headerData} />

  <section class="pb-12 pt-24 px-5">
    <div class="max-w-7xl mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="flex flex-col gap-5 sm:col-span-2 lg:col-span-1">
        <h2 class="text-5xl text-dark-blue font-bold leading-tight">
          About Us
        </h2>
        <p class="paragraph">
          Welcome to Alto Flight Academy, where dreams take flight. Founded and
          operated by Hal Harris and his family, our academy is rooted in a love
          for aviation that spans generations. Hal, a seasoned Certified Flight
          Instructor (CFI) and jet pilot with a Citation type rating, has been
          sharing his passion for flying with aspiring pilots for over 30 years.
          His dedication to aviation is matched by his wife, MariCris, and their
          daughter, Grace, who both contribute their unique talents and
          enthusiasm to our family run school.
        </p>
        <p class="paragraph">
          At Alto Flight Academy, we believe that the sky is not the limit but
          just the beginning. Our journey began with Hal’s childhood dream of
          flight, nurtured by his father’s own love for the skies. Now, Hal,
          MariCris, and Grace are dedicated to helping others experience the
          magic of flying, whether you are pursuing a career as a commercial
          airline pilot or simply want to explore the thrill of aviation.
        </p>
        <p class="paragraph">
          As a female and Asian owned business in Oklahoma City, Oklahoma, we
          take pride in offering a welcoming and inclusive environment for
          students from all walks of life. Our full-service flight academy
          provides comprehensive training for everyone, from beginners to
          seasoned pilots aiming for their airline transport certification. With
          our affordable, practical, and exciting classes, we strive to make
          your aviation dreams a reality.
        </p>
      </div>
      <div class="max-h-80 sm:max-h-[35rem] lg:max-h-none">
        <Image
          src={PilotImage}
          alt="Cessna flying over Sundance Airport"
          class="h-full w-full object-cover object-center lg:max-h-none"
        />
      </div>
      <div
        class="bg-dark-blue text-white p-8 sm:p-14 lg:p-20 flex flex-col gap-10"
      >
        <ImQuotesLeft className="text-red-700 size-8" />
        <p class="text-lg font-semibold">
          When you join Alto Flight Academy, you become part of our family.
        </p>
        <p class="text-lg text-gray-100">
          We understand the transformative power of aviation and are committed
          to guiding you every step of the way.
        </p>
        <p class="text-lg text-gray-100">
          Let us share our love of flight with you and help you soar to new
          heights. Your journey into the world of aviation begins here, where
          your dreams take wing with Alto Flight Academy.
        </p>
        <!-- <Image
          src={Signature}
          alt="Cessna flying over Sundance Airport"
          class=""
        /> -->
      </div>
    </div>
  </section>

  <!-- <section class="py-12 px-5">
    <div
      class="max-w-7xl mx-auto grid sm:grid-cols-2 lg:grid-cols-4 gap-10 text-dark-blue"
    >
      <div class="flex flex-col gap-3">
        <ImAirplane className="text-red-700 size-14" />
        <h3 class="text-3xl font-bold">100% newest fleet available</h3>
        <p class="paragraph">
          We possess the newest fleet that allows you to be trained and then
          work in the best environment.
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <GrVirtualMachine className="text-red-700 size-14" />
        <h3 class="text-3xl font-bold">New professional simulators</h3>
        <p class="paragraph">
          Advanced training makes us going on the leading edge owing to the
          State-of-the-art equipment.
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <FaClipboardUser className="text-red-700 size-14" />
        <h3 class="text-3xl font-bold">12,000+ pilots accredited</h3>
        <p class="paragraph">
          This fact proves that you'll be at the academy that supplies the
          world's airlines with the best pilots.
        </p>
      </div>
      <div class="flex flex-col gap-3">
        <MdVerifiedUser className="text-red-700 size-14" />
        <h3 class="text-3xl font-bold">Fully accredited and secure</h3>
        <p class="paragraph">
          As a fully accredited flight academy, we have built our name an
          reputation for over 25 years.
        </p>
      </div>
    </div>
  </section>

  <section class="py-24 px-5 bg-dark-blue">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-5xl text-white font-bold mx-auto w-fit">
        <span class="text-red-700">Meet</span> Our Team
      </h2>
      <div class="grid gap-5 lg:grid-cols-3 mt-10">
        {
          team.map((member) => (
            <TeamMemberCard
              name={member.name}
              qualifications={member.qualifications}
              imagePath={member.imagePath}
              bio={member.bio}
            />
          ))
        }
      </div>
      <a href="our-team" class="btn-red block mt-10 mx-auto">View all members</a
      >
    </div>
  </section>

  <section class="py-24 px-5">
    <div class="max-w-7xl mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="flex flex-col gap-5 sm:col-span-2 lg:col-span-1">
        <h2 class="text-5xl text-dark-blue font-bold leading-tight">
          Students about the training team
        </h2>
        <ImQuotesLeft className="text-red-700 size-8" />
        <div id="reviews-container" class="duration-1000">
          <p id="review-text" class="paragraph">
            I earned my private pilot license through High Tide out of St Simons
            Island, GA. They are an excellent program with a great cadre of
            instructors. I am very thankful to have had such a great team to
            help me start this journey into aviation!
          </p>
          <p id="review-author" class="mt-5 md:text-xl">Jake B.</p>
        </div>
      </div>
      <div class="max-h-80 sm:max-h-[35rem] lg:max-h-none">
        <Image
          src={Post1}
          alt="Cessna flying over Sundance Airport"
          class="h-full w-full object-cover object-top lg:max-h-none"
        />
      </div>
      <div class="max-h-80 sm:max-h-[35rem] lg:max-h-none">
        <Image
          src={Post5}
          alt="Cessna flying over Sundance Airport"
          class="h-full w-full object-cover object-top lg:max-h-none"
        />
      </div>
    </div>
  </section> -->
  <WallOfGrads />
  <ThirtyYears />
  <Memberships />
  <EmailCTA />
  <script define:vars={{ reviews }}>
    let currentIndex = 0;
    const reviewTextElement = document.getElementById("review-text");
    const reviewAuthorElement = document.getElementById("review-author");
    const reviewsContainerElement =
      document.getElementById("reviews-container");

    function showMessage() {
      if (reviewAuthorElement && reviewTextElement) {
        reviewTextElement.textContent = reviews[currentIndex].review;
        reviewAuthorElement.textContent = `— ${reviews[currentIndex].name}`;
      }
      reviewsContainerElement?.classList.add("opacity-100");
      reviewsContainerElement?.classList.remove("opacity-0");

      currentIndex = (currentIndex + 1) % reviews.length;

      setTimeout(hideMessage, 6000);
    }

    function hideMessage() {
      reviewsContainerElement?.classList.remove("opacity-100");
      reviewsContainerElement?.classList.add("opacity-0");

      setTimeout(showMessage, 1200);
    }

    showMessage();
  </script>
</BaseLayout>
