---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/logo.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-GJM49SEQC5"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-GJM49SEQC5");
</script>
