---
import eaaLogo from "../assets/eaa-logo.png";
import nafiLogo from "../assets/nafi-logo.webp";
import opaLogo from "../assets/opa-logo.png";
import aopaLogo from "../assets/aopa-logo.png";
import luizmonteiroLogo from "../assets/luizmonteiro-logo.webp";
import challengeAirLogo from "../assets/challenge-air-logo.webp";
import { Image } from "astro:assets";
---

<div
  class="py-4 sm:py-10 gap-y-8 lg:py-14 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 bg-red-700 z-50 relative translate-y-[13rem] max-w-[90rem] mx-auto place-content-center place-items-center"
>
  <a href="https://www.eaa.org/eaa">
    <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  </a>
  <a href="https://www.nafinet.org/">
    <Image src={nafiLogo} alt="NAFI logo" class="h-12 w-auto" />
  </a>
  <a href="https://opa.aero/">
    <Image src={opaLogo} alt="OPA logo" class="h-12 w-auto" />
  </a>
  <a href="https://www.aopa.org/">
    <Image src={aopaLogo} alt="AOPA logo" class="h-12 w-auto" />
  </a>
  <a href="https://www.luizmonteiro.com/Index.aspx">
    <Image src={luizmonteiroLogo} alt="LuizMonteiro logo" class="h-12 w-auto" />
  </a>
  <a href="https://www.challengeair.com/">
    <Image
      src={challengeAirLogo}
      alt="Challenge Air for kids & friends logo"
      class="h-12 w-auto"
    />
  </a>
</div>
