---
import ImageComp from "./ImageComp.astro";

const eaaLogo = "/src/assets/eaa-logo.png";
const nafiLogo = "/src/assets/nafi-logo.webp";
const opaLogo = "/src/assets/opa-logo.png";
const aopaLogo = "/src/assets/aopa-logo.png";
const luizmonteiroLogo = "/src/assets/luizmonteiro-logo.webp";
const challengeAirLogo = "/src/assets/challenge-air-logo.webp";
---

<section
  class="mb-0 py-12 lg:py-24 sm:py-10 bg-red-700 relative max-w-[80rem] mx-auto lg:mb-20"
>
  <h2 class="text-center font-semibold px-5 mb-10 sm:mb-32 text-2xl text-white">
    Alto Flight Academy is a proud member of the aviation communities
  </h2>
  <div
    class="gap-y-24 gap-x-10 grid grid-cols-2 px-10 sm:grid-cols-3 place-content-center place-items-center"
  >
    <a
      href="https://www.eaa.org/eaa"
      target="_blank"
      ia-label="Visit Experimental Aircraft Association website"
      rel="noopener noreferrer"
    >
      <ImageComp
        imagePath={eaaLogo}
        imageAlt="EAA logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto invert"
      />
    </a>
    <a
      href="https://www.nafinet.org/"
      aria-label="Visit National Association of Flight Instructors website"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ImageComp
        imagePath={nafiLogo}
        imageAlt="NAFI logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto invert"
      />
    </a>
    <a
      href="https://opa.aero/"
      aria-label="Visit Organizations of Professional Astrologers website"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ImageComp
        imagePath={opaLogo}
        imageAlt="OPA logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto invert"
      />
    </a>
    <a
      href="https://www.aopa.org/"
      aria-label="Visit Aircraft Owners and Pilots Association website"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ImageComp
        imagePath={aopaLogo}
        imageAlt="AOPA logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto invert"
      />
    </a>
    <a
      href="https://www.luizmonteiro.com/Index.aspx"
      aria-label="Visit Luiz Monteiro website"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ImageComp
        imagePath={luizmonteiroLogo}
        imageAlt="LuizMonteiro logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto"
      />
    </a>
    <a
      href="https://www.challengeair.com/"
      aria-label="Visit Challenge Air for Kids and Friends website"
      rel="noopener noreferrer"
      target="_blank"
    >
      <ImageComp
        imagePath={challengeAirLogo}
        imageAlt="Challenge Air for kids & friends logo"
        styles="h-32 hover:scale-105 duration-200 object-scale-down w-auto"
      />
    </a>
  </div>
</section>
