---
import eaaLogo from "../assets/eaa-logo.png";
import { Image } from "astro:assets";
---

<div
  class="py-4 sm:py-10 gap-y-4 lg:py-14 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 bg-red-700 z-50 relative translate-y-[13rem] max-w-[90rem] mx-auto place-content-center place-items-center"
>
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
  <Image src={eaaLogo} alt="EAA logo" class="h-12 w-auto" />
</div>
